/* included on every page */
.menu-container {
  color: #EEEEEE;
  background-color: #2B5C95;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  float: left;
  width: 285px;
}

.menu {
  font-size: 20px;
  justify-content: center;
  width: 600px;

}

.button:link,
.button:visited {

  display: block;
  text-decoration: none;
  color: #FFF;
  background-color: #ff5754;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 3px solid #EEEEEE;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
  position: relative;
  top: 40px;
  bottom: 40px;

}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

p {
  width: 50em;
  font-family: Helvetica, sans-serif;
  font-size: 16px
}

h1{
  font-family: Helvetica,sans-serif;
  padding: 20px;
  font-style: italic;
  font-size: 50px;
}
h2 {
  font-family: Helvetica, cursive;
  font-size: 45px;
  background-color: #c7d1cf;
  padding: 15px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  top: 30px;
  bottom: 30px;

}

.hello {
  font-family: Helvetica,sans-serif;
  font-size: 50px;
  padding: 10px;
}

/*end page inclusion */
/*begin index page */

.page-container {
  color:  #2B5C95;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  width: 75em;
  justify-content: space-between;
}

.page {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}


.double {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.intro {
  text-align: center;
}

.front-photos-container {
  display:flex;
  justify-content: flex-start;
  overflow: hidden;
}


.front-photos {
  width: 20px;
  display:flex;
  justify-content: flex-start;

}

/*end index page*/
/*begin explanation page*/

.explanation-container {
  color:  #2B5C95;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  width: 75em;
  justify-content: space-between;
}

.explanation {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

/*end explanation page*/
/*begin skills page*/

.skills-container {
  color:  #2B5C95;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  width: 75em;
  justify-content: space-between;
}

.skills {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.arabian {
  display: inline-flex;
  justify-content: flex-start;
}

.sfull {
  display: inline-flex;
  justify-content: flex-end;
}

.switch {
  display: inline-flex;
  justify-content: flex-start;
}

.dub {
  display: inline-flex;
  justify-content: flex-end;
}

/*end skills page*/
/*begin my story page*/

.story-container {
  color:  #2B5C95;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  width: 75em;
  justify-content: space-between;
}

.story {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}


.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stunt-practice{
  display:flex;
  justify-content: center;
}

.winning-bid {
  display: flex;
  justify-content: center;
}
